html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content {
  background-color: rgb(249, 249, 249);
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 80rem;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}
