.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__viewport.is-wheel-dragging {
  cursor: move;
  cursor: grab;
}

.embla__container {
  display: flex;
  will-change: transform;
  margin-left: -1rem;
}

.embla[data-axis="y"] .embla__container {
  flex-direction: column;
  height: 293px;
  padding-top: -1rem;
  margin-left: 0;
}

.embla__slide {
  flex: 0 0 auto;
  width: 80%;
  position: relative;
  padding-left: 1rem;
  counter-increment: embla;
}

.embla[data-axis="y"] .embla__slide {
  width: 100%;
  height: 75%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-left: 0;
}

.embla__slide__inner {
  background-color: rgb(40, 44, 52);
  position: relative;
  border-radius: 0.5rem;
  min-height: 200px;
  padding-bottom: 46%;
  font-size: 5rem;
}

.embla[data-axis="y"] .embla__slide__inner {
  padding-bottom: 0;
  height: 100%;
}

.embla__slide__inner:before {
  color: white;
  font-weight: 300;
  line-height: 1;
  content: counter(embla);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.embla__button {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.embla__button:not(:disabled) {
  cursor: pointer;
  fill: #1bcacd;
}

.embla__button:disabled {
  fill: #e9e9e9;
}

.embla__button__svg {
  width: 3.5rem;
  height: 3.5rem;
}

.embla__button--prev {
  left: 0.7rem;
}

.embla__button--next {
  right: 0.7rem;
}

.embla__dots {
  position: absolute;
  margin-top: 1rem;
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  left: 0;
  right: 0;
  top: 100%;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 3rem;
  height: 3rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border: 0;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: #efefef;
  width: 100%;
  height: 0.4rem;
  content: "";
}

.embla__dot.is-selected:after {
  background-color: #1bcacd;
  opacity: 1;
}
